<footer class="site-footer">

  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6">
              <h6>Sobre</h6>
              <p class="text-justify">Rural Sabor <i>O sabor rural na sua porta </i> É uma iniciativa que busca
                  facilitar a visibilidade do produto, aproximando a interação do consumidor com a origem,
                  transformando assim o consumo dos produtos em uma experiência única, através de uma plataforma
                  e-commerce voltada para a venda de alimentos com perfil dos produtores, produtos e categorias.
              </p>
          </div>

          <div class="col-xs-6 col-md-3">
              <h6>Categorias</h6>
              <ul class="footer-links">
                  <li><a href="http://scanfcode.com/category/c-language/" target="_blank">Região</a></li>
                  <li><a href="http://scanfcode.com/category/front-end-development/" target="_blank">Produtor</a></li>
                  <li><a href="http://scanfcode.com/category/front-end-development/" target="_blank">Produtor</a></li>
                  <li><a href="http://scanfcode.com/category/front-end-development/" target="_blank">Produtor</a></li>

              </ul>
          </div>

          <div class="col-xs-6 col-md-3">
              <h6>Links de acesso rápido</h6>
              <ul class="footer-links">
                  <li><a href="http://scanfcode.com/about/" target="_blank">Sobre Nós</a></li>
                  <li><a href="http://scanfcode.com/contact/" target="_blank">Fale Conosco</a></li>
                  <li><a href="http://scanfcode.com/privacy-policy/" target="_blank">Política de Privacidade</a></li>
              </ul>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="social-icons">
                      <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                  class="fa fa-facebook"></i></a></li>
                      <li><a class="instagram" href="https://www.instagram.com/?hl=pt-br" target="_blank"><i
                                  class="fa fa-instagram"></i></a></li>
                      <li><a class="linkedin" href="https://br.linkedin.com/" target="_blank"><i
                                  class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <hr>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2021 Todos os direitos reservados:
                  <a href="#">Rural Sabor©</a>.
              </p>
          </div>


      </div>
  </div>

</footer>