<div class="geral mt-100">
  <div class="container">

    <div class="row d-flex justify-content-center">
      <h1> Entre em contato conosco </h1>
      <div class="col-md-6 mt-5">

        <form>
          <h5 id="mensagem">Dados para contato:</h5>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id='nome' placeholder="Nome">
            </div>
            <div class="col">
              <input type="text" class="form-control" id='sobrenome' placeholder="Sobrenome">
            </div>
          </div>

          <div class="form-group">
            <label for="email"></label>
            <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">
              <h6 id="mensagem">Deixe sua mensagem :D</h6>
            </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Digite aqui sua mensagem" rows="2"></textarea>
          </div>

          <div class="form-group d-flex justify-content-center">
            <button class="btn-hover color-8 text-white">ENVIAR</button>
          </div>
        </form>

      </div>

      <div class="col-md-6 mt-5">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29389.08207078695!2d-47.086394324705836!3d-22.963656187188185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae0f981e057a286e!2sEscola%20de%20Educa%C3%A7%C3%A3o%20B%C3%A1sica%20e%20Profissional%20Funda%C3%A7%C3%A3o%20Bradesco!5e0!3m2!1sen!2sbr!4v1612202905503!5m2!1sen!2sbr"
          width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>

    </div>
  </div>
</div>