.geral{
  background: url(https://i.imgur.com/hAXFYwx.jpg?1) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  /* max-width: 1200px; */
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1{
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.150);
  border-radius: 50px;
  padding: 10px;
  margin-top: 30px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* botão */

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 120px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 20px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* .btn-hover:focus {
  outline: none;
} */

.btn-hover.color-8 {
  background-image: linear-gradient(to right, #d49f50, #ec7e00, #eb9e2c, #ecda34);
  box-shadow: 4px 4px 30px 4px rgba(0, 0, 0, 0.61);
}
.mt-100{
  margin-top: 100px;
}
