<div id="imagem">
  <img src="https://images.pexels.com/photos/1128678/pexels-photo-1128678.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid" alt="Imagem responsiva">
</div>

<br/>
<div id="contato" class="row mb-5">
  <div class="col-md-12">
    <h3 class="text-center">
      Entre em contato conosco
    </h3>
  </div>
</div>

<div class="row p-3">
  <div class="col-md-6">
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Sobrenome">
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">
          <h5 id="mensagem">Deixe sua mensagem :D</h5>
        </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="form-group d-flex justify-content-center">
        <button class="btn btn-success">Enviar</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 p-3">
    <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.3460424042314!2d-47.05064108540062!3d-22.900603943406914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c66acbb4676b%3A0x6cff0697d9d9647c!2sFoodTech%20Hub!5e0!3m2!1spt-BR!2sbr!4v1611239461034!5m2!1spt-BR!2sbr" width="400" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  </div>
</div>


