<nav >
    <div class="nav nav-tabs d-flex justify-content-center mt-100" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active text-secondary font-weight-bold"
        id="nav-todosProdutos-tab" data-toggle="tab" href="#todosProdutos" role="tab"
        aria-controls="nav-todosProdutos" aria-selected="true">Todos os Produtos</a>
      <a
        class="nav-item nav-link text-secondary font-weight-bold" id="nav-todosProdutores-tab" data-toggle="tab"
        href="#todosProdutores" role="tab" aria-controls="nav-todosProdutores" aria-selected="false">Todos os Produtores</a>

      <a class="nav-item nav-link text-secondary font-weight-bold"
        id="nav-produtosCategoria-tab" data-toggle="tab" href="#produtosCategoria" role="tab" aria-controls="nav-produtosCategoria"
        aria-selected="false">Produtos por Categoria</a>

    </div>
  </nav>


<div id="bg">    
    <div class="menu m-5">
        <div class="food-items mt-4 mb-4" *ngFor="let item of listaProdutos">
            <img src="{{item.foto}}" alt="">
            <div class="details">
                <div class="details-sub">
                    <div class="container d-flex m-1">
                        <div class="col-md-6">
                            <h4>{{item.nome}}</h4>
                        </div>
                        <div class="col-md-6">
                            <h4 class="preco">R$ {{item.preco}}</h4>
                        </div>
                    </div>
                    <p> Descrição: {{item.descricao}}.</p>
                    <p> Categoria: {{item.categoria.categoria}}. </p>
                    <p> Região: {{item.regiao}} </p>
                    <p> Quantidade: {{item.qtd}} </p>
                 <!--  <p> Produtor: {{item.user.nome}} </p> -->               
                </div>
                <button class="btn-hover color-5"><i class="bi bi-bag-plus"></i></button>             
            </div>
        </div>
    </div>
</div>


