<div id="bg" class="mt-100">    
    <div class="menu m-5">
        <div class="food-items mt-4 mb-4" *ngFor="let item of listaProdutos">
            <img src="https://i.imgur.com/FjBJsEE.jpg" alt="">
            <div class="details">
                <div class="details-sub">
                    <div class="container d-flex m-1">
                        <div class="col-md-6">
                            <h4>{{item.nome}}</h4>
                        </div>
                        <div class="col-md-6">
                            <h4 class="preco">R$ {{item.preco}}</h4>
                        </div>
                    </div>
                    <p> Descrição: {{item.descricao}}.</p>
                    <p> Categoria: {{item.categoria.categoria}}. </p>
                    <p> Região: {{item.regiao}} </p>
                    <p> Quantidade: {{item.qtd}} </p>
                    <!-- <p> Produtor: {{item.user.nome}} </p> ADICIONAR NOME DO PRODUTOR -->
                </div>
                <button class="btn-hover color-5"><i class="bi bi-bag-plus"></i></button>             
            </div>
        </div>
    </div>
</div>


<!-- COLOCAR A FOTO!!!!-->