<div class="geral">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://i.imgur.com/W9DEFjF.png" alt="" class="image-fluid">
      </div>
    </div>
    <div class="col-md-6">
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              Missão
            </a>
          </div>
          <div id="collapseOne" class="collapse-show" data-parent="#accordion">
            <div class="card-body">
              Promover redes alimentares alternativas, fortalecendo o consumo de alimentos produzidos por pequenos e
              médios produtores e produtores familiares.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
              Quem Somos
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Um e-commerce que tem por objetivo democratizar e facilitar a comunicação entre pequenos, médios e
              agricultores familiares e os consumidores. Entregamos a conexão, com a finalidade de favorecer as conexões
              locais, fortalecendo a economia local e consumo dos produtos regionais.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
              Visão
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Através da visibilidade e das experiências adquiridas pelos pequenos e médios produtores, promover
              experiências e alternativas saudáveis para nossos usuários, mantendo, assim, a diversidade regional de
              plantas e semente, ajudando nosso ecossistema a fortalecer a capacidade de adaptação a mudanças
              climáticas,
              condições meteorológicas extremas, entre outros desastres.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
              Valores
            </a>
          </div>
          <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Responsabilidade com fornecedores, valorização e respeito ao trabalhador, integridade, diversidade,
              desenvolvimento sustentável e proteção ambiental.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>