<div class="geral">
    <div class="container">
      <img src="https://i.imgur.com/W9DEFjF.png" alt="" class="image">
      <div class="accordion-menu">
        <div class="item" id="item1">
          <a href="#item1" class="title">
            <span>Missão</span>
            <i class="icon"></i>
          </a>
          <p class="text">
            Promover redes alimentares alternativas, fortalecendo o consumo de alimentos produzidos por pequenos e médios produtores e produtores familiares. 
          </p>
        </div>
  
        <div class="item" id="item2">
          <a href="#item2" class="title">
            <span>Quem Somos</span>
            <i class="icon"></i>
          </a>
          <p class="text">
            Um e-commerce que tem por objetivo democratizar e facilitar a comunicação entre pequenos, médios e agricultores familiares e os consumidores. Entregamos a conexão, com a finalidade de favorecer as conexões locais, fortalecendo a economia local e consumo dos produtos regionais. 
          </p>
        </div>
  
        <div class="item" id="item3">
          <a href="#item3" class="title">
            <span>Visão</span>
            <i class="icon"></i>
          </a>
          <p class="text">
            Através da visibilidade e das experiências adquiridas pelos pequenos e médios produtores, promover experiências e alternativas saudáveis para nossos usuários, mantendo, assim, a diversidade regional de plantas e semente, ajudando nosso ecossistema a fortalecer a capacidade de adaptação a mudanças climáticas, condições meteorológicas extremas, entre outros desastres.
          </p>
        </div>
  
        <div class="item" id="item4">
          <a href="#item4" class="title">
            <span>Valores</span>
            <i class="icon"></i>
          </a>
          <p class="text">
            Responsabilidade com fornecedores, valorização e respeito ao trabalhador, integridade, diversidade, desenvolvimento sustentável e proteção ambiental.
          </p>
        </div>
      </div>
    </div>
  </div>
  