*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.geral{
  background: url('https://i.imgur.com/hAXFYwx.jpg') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  max-width: 1200px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.accordion{
  width: calc(50% - 20px);
}

.card-link{
  background-color: rgba(255, 158, 1, 0.938);
  display: flex;
  color: black;
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}

.card-body{
  background-color: rgba(230, 199, 23, 0.835);
  color: black;
  line-height: 26px;
  margin: 6px 0;
  padding: 10px;
  opacity: 0.9;

}

.card-body:target .text{
  height: auto;
  opacity: 1;
  padding: 20px;
  margin: 12px 0;
}

@media screen and (max-width:1080px){
  .container{
    max-width: 600px;
  }

  .image, .accordion{
    width: 100%;
    margin: 20px 0;
  }
}