<app-cadastrar></app-cadastrar> <!-- Não tem nada dentro do HTML -->
<app-cadastro-produtor></app-cadastro-produtor>
<app-cadastro-produtos></app-cadastro-produtos> <!-- Não tem nada dentro do HTML -->
<app-cadastro-usuario></app-cadastro-usuario>
<app-cardapio></app-cardapio> <!-- Não tem nada dentro do HTML -->
<app-contato></app-contato>
<app-entrar></app-entrar>
<app-footer></app-footer> <!-- Precisa atualizar -->
<app-home></app-home>
<app-menu></app-menu>
<app-missao-visao-valores></app-missao-visao-valores>
<app-objetivo-ods></app-objetivo-ods>
<app-pedidos></app-pedidos> <!-- Não tem nada dentro do HTML -->
<app-sobre-nos></app-sobre-nos>


