<div class="accordion">
  <ul>
    <li tabindex="1">
      <div>
        <a href="#">
          <h2>Acabar com a fome, alcançar a segurança alimentar</h2>
          <p>e melhoria da nutrição, bem como promover a agricultura sustentável.</p>
        </a>
      </div>
    </li>
    <li tabindex="2">
      <div>
        <a href="#">
          <h2>acabar com a fome</h2>
          <p>e garantir o acesso de todas as pessoas a alimentos seguros, nutritivos e suficientes durante todo o ano.
          </p>
        </a>
      </div>
    </li>
    <li tabindex="3">
      <div>
        <a href="#">
          <h2>acabar com todas as formas de desnutrição</h2>
          <p>e atender às necessidades nutricionais dos adolescentes, mulheres grávidas e lactantes e pessoas idosas.
          </p>
        </a>
      </div>
    </li>
    <li tabindex="4">
      <div>
        <a href="#">
          <h2>dobrar a produtividade agrícola e a renda</h2>
          <p>dos pequenos produtores de alimentos, como mulheres, povos indígenas, agricultores familiares, pastores e
            pescadores.</p>
        </a>
      </div>
    </li>
    <li tabindex="5">
      <div>
        <a href="#">
          <h2>garantir sistemas sustentáveis de produção</h2>
          <p>de alimentos e implementar práticas agrícolas resilientes, que melhorem progressivamente a qualidade da
            terra e do solo.</p>
        </a>
      </div>
    </li>
  </ul>
</div>
