<div class="container-fluid mt-100">
  <div class="row">
    <div class="col-md-12">
      <img src="https://i.imgur.com/52LwUDz.png" class="img-fluid mx-auto d-block img-responsive">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center display-1 fonte">Rural Sabor</h1>
      <p class="text-center display-4 fonte"> o app de entrega do pequeno produtor</p>
    </div>
  </div>
</div>
<header>
  <!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.imgur.com/Es2gWQu.jpg" alt="Primeiro Slide">
      <div class="carousel-caption d-none d-md-block bg fonte">
        <h5>Rural Sabor</h5>
        <p>Rural Sabor</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/BHuEJ4u.jpg" alt="Segundo Slide">
      <div class="carousel-caption d-none d-md-block bg fonte">
        <h5>Rural Sabor</h5>
        <p>Rural Sabor</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/EPI0Zo2.jpg" alt="Terceiro Slide">
      <div class="carousel-caption d-none d-md-block bg fonte">
        <h5>Rural Sabor</h5>
        <p>Rural Sabor</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<!-- Carousel -->


<hr class="featurette-divider">

<a id="sobre"></a>
<div class="container">

  <!--Sobre-->
  <div class="row align-items-center">
    <div class="col-md-12">

      <p class="text-justify">Promover redes alimentares alternativas, fortalecendo o consumo de alimentos
        produzidos por pequenos e médios produtores e produtores familiares.</p>

      <p class="text-justify">Um e-commerce que tem por objetivo democratizar e facilitar a comunicação entre pequenos,
        médios e agricultores
        familiares e os consumidores. Entregamos a conexão, com a finalidade de favorecer as conexões locais,
        fortalecendo a economia local e consumo dos produtos regionais.</p>

      <p class="text-center">Você sabe de onde vem seu alimento?</p>
    </div>
  </div>
</div>
<!--/Sobre-->

<div class="container">
  <hr class="featurette-divider">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Plataforma</h1>
  </div>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Cadastro</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Você quer fazer parte do nosso marketplace para expor seus produtos?</li>
          <li>Ou comprar dos nosso produtores?</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-success" routerLink='/cadastrar'>Cadastrar</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Login</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Já tem uma conta?</li>
          <li>Faça seu login e aproveite agora o melhor dos produtos agro!</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-success" routerLink='/entrar'>Entrar</button>
      </div>
    </div>
  </div>
</div>




<!--Objetivos ODS-->
<div class="accordion" id="ObjetivoODS">
  <ul>
    <li tabindex="1">
      <div>
        <a href="#">
          <h2>Acabar com a fome, alcançar a segurança alimentar</h2>
          <p>e melhoria da nutrição, bem como promover a agricultura sustentável.</p>
        </a>
      </div>
    </li>
    <li tabindex="2">
      <div>
        <a href="#">
          <h2>acabar com a fome</h2>
          <p>e garantir o acesso de todas as pessoas a alimentos seguros, nutritivos e suficientes durante todo o ano.
          </p>
        </a>
      </div>
    </li>
    <li tabindex="3">
      <div>
        <a href="#">
          <h2>acabar com todas as formas de desnutrição</h2>
          <p>e atender às necessidades nutricionais dos adolescentes, mulheres grávidas e lactantes e pessoas idosas.
          </p>
        </a>
      </div>
    </li>
    <li tabindex="4">
      <div>
        <a href="#">
          <h2>dobrar a produtividade agrícola e a renda</h2>
          <p>dos pequenos produtores de alimentos, como mulheres, povos indígenas, agricultores familiares, pastores e
            pescadores.</p>
        </a>
      </div>
    </li>
    <li tabindex="5">
      <div>
        <a href="#">
          <h2>garantir sistemas sustentáveis de produção</h2>
          <p>de alimentos e implementar práticas agrícolas resilientes, que melhorem progressivamente a qualidade da
            terra e do solo.</p>
        </a>
      </div>
    </li>
  </ul>
</div>
<!--/Objetivos ODS-->