<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="https://i.imgur.com/52LwUDz.png" class="img-fluid mx-auto d-block img-responsive">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center display-1 fonte">Rural Sabor</h1>
      <p class="text-center display-4 fonte"> o app de entrega do pequeno produtor</p>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <p class="m-5 text-start fonte h1"> Meus Clientes <i class="bi bi-journals"></i></p>
    <p class="m-5 text-start fonte h1"> Meu Cardápio <i class="bi bi-book"></i></p>
    <p class="m-5 text-start fonte h1"> Pedidos em andamento <i class="bi bi-app-indicator"></i></p>
    <p class="m-5 text-start fonte h1"> Preciso de ajuda <i class="bi bi-chat-text"></i></p>
    <p class="m-5 text-start fonte h1"> Sugestões <i class="bi bi-headset"></i></p>
  </div>
</div>
