.fonte {
  font-family: 'Snippet', sans-serif;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sobrepos .img-fluid{
  background: rgba(#045211d7, green, blue, .06);
  width: 100%;
  height: auto;
  opacity: 0.6;
  position: absolute;
  top: 0;
}

.sobrepos{
  background: url('https://cdn.pixabay.com/photo/2016/10/22/15/35/fruits-1761031_960_720.jpg');
  position: relative;

}

h1 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
}
#quem-somos{
  position:absolute;
  font-size: 72pt;
  left: 125px;
  top: 135px;
}

@media (min-width: 750px) {
  h1 {
    font-size: 4.5rem;
  }

  p {
    font-size: 1.5rem;
  }
}




