<div id="carouselExampleControls" class="carousel slide d-flex align-items-center p-5" data-ride="carousel">
    <img id="imagem" class="d-block w-100" src="https://i.imgur.com/kkkFEGh.png" alt="Imagem Fundo">
    <div class="carousel-inner container">
        <div class="carousel-item active">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img class="d-block w-100 br-50" src="https://i.imgur.com/oOl0FnU.jpg" alt="Primeiro Slide">
                </div>
                <div class="col-md-8">
                    <h3>Ale </h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci impedit nihil iure quia
                        laudantium ducimus excepturi architecto magnam doloribus sunt aspernatur explicabo,
                        voluptatibus, eius beatae recusandae sequi. Eveniet, magnam perferendis.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img class="d-block w-100 br-50" src="https://i.imgur.com/oOl0FnU.jpg" alt="Segundo Slide">
                </div>
                <div class="col-md-8">
                    <h3>Andy </h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci impedit nihil iure quia
                        laudantium ducimus excepturi architecto magnam doloribus sunt aspernatur explicabo,
                        voluptatibus, eius beatae recusandae sequi. Eveniet, magnam perferendis.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img class="d-block w-100 br-50" src="https://i.imgur.com/oOl0FnU.jpg" alt="Terceiro Slide">
                </div>
                <div class="col-md-8">
                    <h3>Bea </h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci impedit nihil iure quia
                        laudantium ducimus excepturi architecto magnam doloribus sunt aspernatur explicabo,
                        voluptatibus, eius beatae recusandae sequi. Eveniet, magnam perferendis.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img class="d-block w-100 br-50" src="https://i.imgur.com/oOl0FnU.jpg" alt="Quarto Slide">
                </div>
                <div class="col-md-8">
                    <h3>Tauber </h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere vel ratione soluta
                        necessitatibus vero, deleniti odit libero unde excepturi totam dolor dignissimos fugit. Itaque
                        ducimus veniam omnis tempora, impedit reprehenderit!</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img class="d-block w-100 br-50" src="https://i.imgur.com/oOl0FnU.jpg" alt="Quinto Slide">
                </div>
                <div class="col-md-8">
                    <h3>Joca </h3>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci impedit nihil iure quia
                        laudantium ducimus excepturi architecto magnam doloribus sunt aspernatur explicabo,
                        voluptatibus, eius beatae recusandae sequi. Eveniet, magnam perferendis.</p>
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>