<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="geral">
  <div class="container">
    <img src="https://cdn.pixabay.com/photo/2016/01/03/17/59/bananas-1119790__340.jpg" alt="" class="image">
    <div class="accordion-menu">
      <div class="item" id="item1">
        <a href="#item1" class="title">
          <span>Lorem ipsum dolor sit amet?</span>
          <i class="icon"></i>
        </a>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo temporibus possimus expedita optio magni maiores
          impedit inventore iusto accusantium doloremque?
        </p>
      </div>

      <div class="item" id="item2">
        <a href="#item2" class="title">
          <span>Lorem ipsum dolor sit amet?</span>
          <i class="icon"></i>
        </a>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo temporibus possimus expedita optio magni maiores
          impedit inventore iusto accusantium doloremque?
        </p>
      </div>

      <div class="item" id="item3">
        <a href="#item3" class="title">
          <span>Lorem ipsum dolor sit amet?</span>
          <i class="icon"></i>
        </a>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo temporibus possimus expedita optio magni maiores
          impedit inventore iusto accusantium doloremque?
        </p>
      </div>

      <div class="item" id="item4">
        <a href="#item4" class="title">
          <span>Lorem ipsum dolor sit amet?</span>
          <i class="icon"></i>
        </a>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo temporibus possimus expedita optio magni maiores
          impedit inventore iusto accusantium doloremque?
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card middle">
          <div class="front d-flex justify-content-center">
            <img src="../../assets/img/ale.JPG" alt="">
          </div>
          <div class="back">
            <div class="back-content middle">
              <h2>Ale</h2>
              <span>Amigo</span>
              <div class="sm">
                <a href="https://www.linkedin.com" title="Linkedin">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card middle">
          <div class="front">
            <img src="../../assets/img/ale.JPG" alt="">
          </div>
          <div class="back">
            <div class="back-content middle">
              <h2>Ale</h2>
              <span>Amigo</span>
              <div class="sm">
                <a href="https://www.linkedin.com" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card middle">
          <div class="front">
            <img src="../../assets/img/ale.JPG" alt="">
          </div>
          <div class="back">
            <div class="back-content middle">
              <h2>Ale</h2>
              <span>Amigo</span>
              <div class="sm">
                <a href="https://www.linkedin.com" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card middle">
          <div class="front">
            <img src="../../assets/img/ale.JPG" alt="">
          </div>
          <div class="back">
            <div class="back-content middle">
              <h2>Ale</h2>
              <span>Amigo</span>
              <div class="sm">
                <a href="https://www.linkedin.com" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card middle">
          <div class="front">
            <img src="../../assets/img/ale.JPG" alt="">
          </div>
          <div class="back">
            <div class="back-content middle">
              <h2>Ale</h2>
              <span>Amigo</span>
              <div class="sm">
                <a href="https://www.linkedin.com" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>
